a {
                color:pink;
                text-decoration: none;
            }
            header {
                background-color:rgb(3, 1, 118);
                color:white;
                text-shadow: 5px 3px 5px rgb(0, 0, 0)
            }
            h1{
                font-size: 3rem; 
                font-weight: 400;
                font-style: normal;
                letter-spacing: 20px;
                text-transform:uppercase;
                text-align: center;


            }
            p {
                font-size: 1rem;
                font-weight: bold;
                font-family:'Times New Roman', Times, serif;
                line-height: 1.2rem;


            }
            span {
                font-size:2rem;
            }
            #bluetext {
                Color:rgb(24, 0, 104);
            }
            .greentext {
                color:green;
            }
            h4{
                font-size:1.5rem;
            }
            #wrapper {
                width: 80%;
                margin-right: auto;
                margin-left: auto;
            }