   a {
                color:pink;
                text-decoration: none;
            }
            header {
                background-color:rgb(3, 1, 118);
                color:white;
                text-shadow: 5px 3px 5px rgb(0, 0, 0)
            }
            h1{
                font-size: 3rem; 
                font-weight: 400;
                font-style: normal;
                letter-spacing: 20px;
                text-transform:uppercase;
                text-align: center;
                marfin: 0px;


            }
            p {
                font-size: 1rem;
                font-weight: bold;
                font-family:'Times New Roman', Times, serif;
                line-height: 1.2rem;


            }
            span {
                font-size:2rem;
            }
            #bluetext {
                Color:rgb(24, 0, 104);
            }
            .greentext {
                color:green;
            }
            h4{
                font-size:1.5rem;
            }
            #wrapper {
                width: 80%;
                margin-right: auto;
                margin-left: auto;
            }
            nav {
                border-bottom:2px outset #3232ea

            }
            nav ul li {
                display: inline-block;
                padding: 10px 20px;
                background-color: rgb(5, 2, 150)
            }
            body{
                margin: 0;
            }
            

            /* how to insert images
            create new folder called images and put downloaded files into folder
            <img src="images/--- click link" alt="describe image" class="myimage">
            use adobe resizing images to drag and drop image and resize pixels 80% is ideal quality rename image and insett in that one yippie ur done */
            /*.backroundimage {
                height:300px;
                background-image: url('')
                background-size: cover;
                background-position: 50% 50%;
                background: ------;

            }.  */

    
    